h1 {
  font-family: 'Cedarville Cursive', cursive;
  text-align: center;
  font-size: 60px;
  margin: 0 !important;
  border-top: 12px solid rgba(176, 196, 222, 0.658);
  padding-top: 25px;
}
h2 {
  font-family: 'Cormorant Garamond', serif;
  text-align: center;
  margin: 0 !important;
  padding-top: 5px;
  padding-bottom: 25px;
}
h3 {
  font-family: 'Cormorant Garamond', serif;
}
.gallery img {
  width: 350px;
  padding: 12px;
  transition: 1s;
  margin-left: 3px;
  margin-right: 3px;
  padding-bottom: 40px;
}
.gallery img:hover {
  filter: grayscale(100%);
  transform: scale(1.025);
}
.table1 {
  font-family: 'Cormorant Garamond', serif;
  border-collapse: collapse;
  width: 350px;
  font-size: 15px;
  display: inline-table;
  padding: 80px;
  margin-left: 14.2px;
  margin-right: 14.2px;
}
.th1, td {
  padding: 12px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
.table1, .th1, td {
  border: 1.5px solid rgb(176, 196, 222, 0.658);
}
a {
  color: palevioletred;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
:target {
    -webkit-animation: target-fade 2s 1;
    -moz-animation: target-fade 2s 1;
}
@-webkit-keyframes target-fade {
    0% { background-color: rgba(0,0,0,.1); }
    100% { background-color: rgba(0,0,0,0); }
}
@-moz-keyframes target-fade {
    0% { background-color: rgba(0,0,0,.1); }
    100% { background-color: rgba(0,0,0,0); }
}

/* I learned how to style links in https://css-tricks.com/css-basics-styling-links-like-boss */