nav {
  text-align: left;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li{
  display: inline-block;
  padding-left: 40px;
  padding-top: 40px;
  padding-right: 40px;

  position: relative;
}
nav a {
  color: thistle;
  text-decoration: none;
  font-family: 'Cedarville Cursive', cursive;
  font-size: 22px;
}
nav a:hover {
  color: lightgray;
}
nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: lightgray;
  
  position: relative;
  top: 20%;
  width: 0%;

  transition: all ease-in-out 300ms;
}
nav a:hover::before {
  width: 100%;
}
header {
   border-top: 12px solid rgba(253, 225, 221, 0.993)
}
h1 {
  font-family: 'Cedarville Cursive', cursive;
  text-align: center;
  margin: 0 !important;
  padding-top: 140px;
  font-size: 70px;
  color: lightgray;
  text-shadow: 2.3px 2.3px mistyrose;
}
h2 {
  font-family: 'Cormorand Garamond', serif;
  text-align: center;
  margin: 0 !important;
  font-size: 40px;
  color:lightgray;
  text-shadow: 1.6px 1.6px mistyrose;
}
#logo {
  width: 140px;
  float: left;
  text-align: left;
  padding-left: 22px;
  padding-top: 5px;
}
.intro {
  font-family: 'Cedarville Cursive', cursive;
  text-align: center;
  margin: 0 !important;
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 60px;
  color: lightgray;
  text-shadow: 2.3px 2.3px mistyrose;
  border-top: 12px solid rgba(253, 225, 221, 0.993)
}
#slides {
  padding-top: 17px;
  padding-bottom: 10px;
}
.gallery img {
  width: 260px;
  padding: 10px;
  transition: 1s;
  margin-left: 3px;
  margin-right: 3px;
  padding-top: 60px;
}
#orange {
  width: 230px;
}
#three {
  width: 290px;
}
.gallery img:hover {
  transform: scale(1.025);
}
table {
  font-family: EB Garamond, serif;
  font-size: 20px;
}
td {
  text-align: center;
  color: rgb(184, 184, 184);
  text-shadow: 0.7px 0.7px rgb(255, 213, 208);

}